
.training-container
    background: #171c1f !important
    height: 100%
    width: 100%
    padding: 100px
    
.table-container
    max-width: 1200px
    margin: 0 auto
    overflow: auto
    max-height: 600px
    

table
    background: #202528

.training-container .table-title
    color: white
    margin-bottom: 20px
    overflow: hidden

.new-training-container
    max-width: 1200px
    margin: 0 auto

button[mat-button]
    margin-top: 20px !important
    background: #d61414b0 !important
    color: #fff !important
    border-radius: 5px !important
    padding: 10px 10px !important
    font-size: 16px !important

.prediction-box
    color: #fff
    
