


.training-container
    background: #171c1f !important
    height: 100%
    width: 100%
    padding: 100px
    
.table-container
    max-width: 1200px
    margin: 0 auto
    overflow: auto
    max-height: 500px

th
    
    font-size: 16px

table
    background: #202528

.training-container .table-title
    color: white
    margin-bottom: 20px
    overflow: hidden

.wide-column
    width: 30%

.medium-column
    width: 20%
    text-align: center

.small-column
    width: 15%
    text-align: center

.badge 
  display: inline-block
  padding: 4px 8px
  border-radius: 4px 
  color: white
  
  text-align: center
  min-width: 40px
  background: red

.badge-success
    background: green

.badge-error
    background: red
.badge-warning
    background: orange


.new-training-container
    max-width: 1200px
    margin: 0 auto

button[mat-button]
    margin-top: 30px !important
    background: #d61414b0 !important
    color: #fff !important
    border-radius: 5px !important
    padding: 10px 10px !important
    font-size: 16px !important

.prediction-box
    color: #fff
    
