


.training-container

    height: 100vh
    width: 100%
    padding: 100px
    background-color: #0f172a
    background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px)
    background-size: 50px 50px
    
.table-container
    max-width: 1200px
    margin: 0 auto
    overflow: auto
    max-height: 500px
    border: 1px solid rgba(255, 255, 255, 0.1)
    border-radius: 16px
th
    
    font-size: 16px

table
    background: rgba(255, 255, 255, 0.03)
    backdrop-filter: blur(10px)
    border: 1px solid rgba(255, 255, 255, 0.1)
    border-radius: 16px
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5)


.training-container .table-title
    color: white
    margin-bottom: 20px
    overflow: hidden

.wide-column
    width: 30%

.medium-column
    width: 20%
    text-align: center

.small-column
    width: 15%
    text-align: center

.badge 
  display: inline-block
  padding: 4px 8px
  border-radius: 4px 
  color: white
  
  text-align: center
  min-width: 40px
  background: red

.badge-success
    background: green

.badge-error
    background: red
.badge-warning
    background: orange


.new-training-container
    max-width: 1200px
    margin: 0 auto

button[mat-button]
    margin-top: 30px !important
    background: #d61414b0 !important
    color: #fff !important
    border-radius: 5px !important
    padding: 10px 10px !important
    font-size: 16px !important

.prediction-box
    color: #fff
    
@media (max-width: 768px)
    .training-container
        padding: 50px 10px
    .table-container
        max-width: 100%
    th, td
        font-size: 14px

@media (max-width: 500px)
    .training-container
        padding: 50px 0px
    .table-container
        max-width: 100%
    .mat-mdc-cell, .mat-mdc-header-cell
        padding: 5px !important
    th, td
        font-size: 12px