.feedback-container
    display: flex
    
button[mat-button]
    margin-top: 20px !important
    background: #e0bb15b0 !important
    color: #fff !important
    border-radius: 5px !important
    padding: 10px 10px !important
    font-size: 16px !important
    cursor: pointer !important
    transition: background 0.5s ease !important
