<header><h2>Elérhetőség</h2></header>
<div class="contact-container">
  <div class="cards">
    <div class="card">
      <h4>Amennyiben kérdése van, vegye fel velem a kapcsolatot</h4>
      <div class="form-container">
        <div class="form-content">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Teljes név</mat-label>
              <input matInput placeholder="Név" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Email cím</mat-label>
              <input matInput placeholder="Email" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Megjegyzés</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </p>
          <button mat-flat-button class="btn-send">Elküldés</button>
          <div class="icons">
            <mat-icon>facebook</mat-icon>
            <mat-icon>email</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
