<header><h2>Elérhetőség</h2></header>
<div class="contact-container">
  <div class="contact">
    <div class="card">
      <h4>Amennyiben kérdése van, vegye fel velem a kapcsolatot</h4>
      <div class="form-content">
        <div class="splitted-inputs">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Teljes név</mat-label>
              <input
                [(ngModel)]="emailRequestModel.name"
                matInput
                placeholder="Név"
              />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Email cím</mat-label>
              <input
                [(ngModel)]="emailRequestModel.email"
                matInput
                placeholder="Email"
              />
              <mat-icon matSuffix>drafts</mat-icon>
            </mat-form-field>
          </p>
        </div>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Téma</mat-label>
            <input
              [(ngModel)]="emailRequestModel.subject"
              matInput
              placeholder="Téma"
            />
            <mat-icon matSuffix>subject</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Megjegyzés</mat-label>
            <textarea
              [(ngModel)]="emailRequestModel.message"
              matInput
            ></textarea>
          </mat-form-field>
        </p>
        <button mat-flat-button class="btn-send" (click)="SendEmail()">
          Elküldés
        </button>
        <div class="icons">
          <mat-icon>facebook</mat-icon>
          <mat-icon>email</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
