*
    box-sizing: border-box
    margin: 0
    padding: 0

.training-new-toggle-container
    width: 100%
    height: 100%
    padding: 100px
    background: #171c1f
.animation-container
    display: flex
    align-items: center
    justify-content: center
    margin-top: 20px
    width: 200px
    height: 200px
.create-new
    max-width: 1200px
    margin: 0 auto
    background: #202528
    padding: 20px
    border-radius: 10px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.title
    color: white
    text-align: center

    
.image-container
    margin: 20px
    width: 100px
    height: 100px
    display: flex
    align-items: center
    justify-content: center

.image
    max-width: 100%
    max-height: 100%

button[mat-button]
    margin-top: 20px !important
    background: #e0bb15b0 !important
    color: #fff !important
    border-radius: 5px !important
    padding: 10px 10px !important
    font-size: 16px !important
    cursor: pointer !important
    transition: background 0.5s ease !important

button[mat-button]:disabled

    background: grey !important
    cursor: not-allowed !important

.animation-container
    display: flex
    align-items: center
    justify-content: center
    margin-top: 50px
    width: 300px
    height: 300px

app-biceps-curl-animate
    display: block
    width: 100%
    height: 100%

.prediction-box
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
.prediction-message
    font-weight: bold
    font-size: 24px

.correct
    color: green

.incorrect
    color: red

.prediction-count
    margin: 10px
    font-size: 18px
    color: white
    text-align: center

.prediction-count p
    margin-top: 10px
    font-size: 24px
    font-weight: bold


.pulse, .pulse-icon
    color: red
    font-size: 20px

.pulse-icon
    animation: heartbeat 1s infinite ease-in-out
    

    display: flex
    align-items: center
.pulse-container
    margin-top:10px
    align-items: center
    justify-content: center
    display: flex
    gap: 10px
    padding: 10px

@keyframes heartbeat
    0%, 100%
        transform: scale(1)
    25%
        transform: scale(1.4)
    50%
        transform: scale(1)
    75%
        transform: scale(1.4)


.pulse-message
    color: white
    font-size: 17px