/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&family=Russo+One&display=swap');
*
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth

.custom-dialog
    --mat-sys-surface: #272727f7
    margin-left: 311.5px
    
.cdk-overlay-pane.custom-dialog2 
  left: calc(311.5px + (50%)) !important
  top: 50% !important
  transform: translate(-50%, -50%) !important

    
    

