<header>
  <h2>Alkalmazás</h2>
</header>
<div class="application-container">
  <div class="application-content">
    <h3>A WorkoutOptimization mit nyújt számodra?</h3>
    <div class="cards">
      <div class="card">
        <div class="card-header">
          <h4>Valós idejű visszajelzés</h4>
        </div>
        <div class="card-image">
          <mat-icon fontIcon="schedule"></mat-icon>
        </div>
        <div class="card-context">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
            voluptas nisi iure odio earum quidem explicabo dolore quod illo
            debitis quae, ab dolorem minima. Consequatur fugiat quam in
            accusamus ducimus!
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Valós idejű visszajelzés</h4>
        </div>
        <div class="card-image">
          <mat-icon fontIcon="account_circle"></mat-icon>
        </div>
        <div class="card-context">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
            voluptas nisi iure odio earum quidem explicabo dolore quod illo
            debitis quae, ab dolorem minima. Consequatur fugiat quam in
            accusamus ducimus!
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Valós idejű visszajelzés</h4>
        </div>
        <div class="card-image">
          <mat-icon fontIcon="account_circle"></mat-icon>
        </div>
        <div class="card-context">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
            voluptas nisi iure odio earum quidem explicabo dolore quod illo
            debitis quae, ab dolorem minima. Consequatur fugiat quam in
            accusamus ducimus!
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Valós idejű visszajelzés</h4>
        </div>
        <div class="card-image">
          <mat-icon fontIcon="account_circle"></mat-icon>
        </div>
        <div class="card-context">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
            voluptas nisi iure odio earum quidem explicabo dolore quod illo
            debitis quae, ab dolorem minima. Consequatur fugiat quam in
            accusamus ducimus!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
