
.application-container
   
    max-width: 1400px
    margin: 0 auto

header
    margin: -4px
    background: #ffea00c5
    text-align: center
    padding: 20px
    border:1px solid #2a29298c

h3
    text-align: center
    font-size: 30px
    margin-top: 2rem
    padding: 20px
header h2
    font-size: 54px
    font-family: 'Russo One', sans-serif

.cards
    margin-top: 4rem
    display: flex
    justify-content: center
    flex-wrap: wrap

.card
    flex-basis: 30%
    background: #aeaeae0d
    height: 450px
    margin: 20px 10px
    border: 1px solid #9f999946
    box-shadow: 0 0 30px 0 #0000001a

.card-header
    text-align: center
    font-size: 22px
    margin: 40px 0

.card-image
    margin-top: 10px
    text-align: center

.card-image mat-icon
    font-size: 70px
    width: 100%
    height: 100%
    
.card-context
   
    text-align: justify
    line-height: 1.5
    padding: 1rem
    margin: 30px 0 0 0


@media (max-width: 768px)
    .cards
        flex-direction: column
        align-items: center
        flex-basis: 80%