<nav>
  <div class="nav-header">
    <span>Workout<br />Optimization</span>
  </div>

  <ul>
    <a routerLink="/home">
      <li>
        <mat-icon fontIcon="dashboard"></mat-icon><span>Irányítópult</span>
      </li>
    </a>
    <a routerLink="/training">
      <li>
        <mat-icon fontIcon="fitness_center"></mat-icon>
        <span>Edzések</span>
      </li>
    </a>
    <a routerLink="/recommended-plan">
      <li>
        <mat-icon fontIcon="assignment_turned_in"></mat-icon>Ajánlott edzésterv
      </li>
    </a>
  </ul>
  <span class="separator">STATISZTIKA</span>
  <ul>
    <li><mat-icon fontIcon="favorite"></mat-icon>Pulzus és mozgásadatok</li>
    <li><mat-icon fontIcon="poll"></mat-icon>Statisztika</li>
  </ul>
</nav>
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav position="end">End</mat-sidenav>
  <section>Main</section>
</mat-sidenav-container>
