<nav class="auth-nav">
  <!-- FELSŐ SÁV -->
  <div class="nav-inner">
    <div class="nav-header">
      <span class="brand-line1">Workout</span>
      <span class="brand-line2">Optimization</span>
    </div>

    <button
      class="hamburger"
      type="button"
      aria-label="Menü"
      (click)="toggleMenu()"
    >
      <mat-icon [fontIcon]="isMenuOpen ? 'close' : 'menu'"></mat-icon>
    </button>
  </div>

  <div class="nav-menu-wrapper" [class.open]="isMenuOpen">
    <ul>
      <li
        routerLink="/home"
        routerLinkActive="active-link"
        (click)="closeMenu()"
      >
        <mat-icon fontIcon="dashboard"></mat-icon>
        <span>Irányítópult</span>
      </li>

      <li
        routerLink="/training"
        routerLinkActive="active-link"
        (click)="closeMenu()"
      >
        <mat-icon fontIcon="fitness_center"></mat-icon>
        <span>Edzések</span>
      </li>
    </ul>

    <span class="separator">STATISZTIKA</span>

    <ul>
      <li
        (click)="closeMenu()"
        routerLink="/statistics"
        routerLinkActive="active-link"
      >
        <mat-icon fontIcon="poll"></mat-icon>
        <span>Statisztika</span>
      </li>
    </ul>
  </div>
</nav>
