<nav>
  <div class="nav-header">
    <span>Workout<br />Optimization</span>
  </div>
  <div class="nav-content"></div>
  <ul>
    <li><mat-icon fontIcon="dashboard"></mat-icon>Irányítópult</li>
    <li><mat-icon fontIcon="fitness_center"></mat-icon>Edzések</li>
    <li>
      <mat-icon fontIcon="assignment_turned_in"></mat-icon>Ajánlott edzésterv
    </li>
  </ul>
  <span class="separator">STATISZTIKA</span>
  <ul>
    <li><mat-icon fontIcon="favorite"></mat-icon>Pulzus és mozgásadatok</li>
    <li><mat-icon fontIcon="poll"></mat-icon>Statisztika</li>
  </ul>
</nav>
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav position="end">End</mat-sidenav>
  <section>Main</section>
</mat-sidenav-container>
