
header 
    // background: #fff
    background: #f1c40f
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.326)
    width: 100vw
    
    

ul
    height: 60px
    max-width: 90vw
    display: flex
    flex-direction: row
    justify-content: end
    align-items: center

ul li
    list-style-type: none
    padding: 10px
    color: #000

    
mat-icon
    cursor: pointer



