
*
    box-sizing: border-box
    
header 
    background: transparent
    z-index: 5
    width: 100vw
    padding: 16px 20px
    backdrop-filter: blur(10px)

    
ul
    
    max-width: 90vw
    display: flex
    flex-direction: row
    justify-content: end
    align-items: center

ul li
    list-style-type: none
    padding: 0 10px
    color: #fff

    
mat-icon
    cursor: pointer



