<nav>
  <ul>
    <div class="logo">
      <div class="logo-container">
        <div class="workout">Workout</div>
        <div class="optimization">Optimization</div>
      </div>
    </div>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Kezdőlap"
        fontIcon="home"
      ></mat-icon
      >KEZDŐLAP
    </li>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Alkalmazás"
        fontIcon="apps"
      ></mat-icon
      >ALKALMAZÁS
    </li>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Alkalmazás"
        fontIcon="layers"
      ></mat-icon
      >MŰKÖDÉS
    </li>
    <li>
      <mat-icon
        aria-hidden="false"
        aria-label="Elérhetőség"
        fontIcon="perm_contact_calendar"
      ></mat-icon
      >ELÉRHETŐSÉG
    </li>
    <li class="join">
      CSATLAKOZZ
      <mat-icon
        aria-hidden="false"
        aria-label="Elérhetőség"
        fontIcon="arrow_right_alt"
      ></mat-icon>
    </li>
  </ul>
</nav>
