
nav
    background: black
    padding: 0.5rem

nav ul
    max-width: 1800px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center

nav ul li
    list-style: none
    margin: 0 3rem
    font-family: "Russo One", sans-serif
    font-weight: 400
    color: white
    letter-spacing: 1.5px
    cursor: pointer

nav ul .logo
    flex:1

nav ul .logo-container
    display: flex
    flex-direction: column
    max-width: fit-content
    align-items: center
    font-family: "Russo One", sans-serif
    letter-spacing: 2px
    color: white

nav ul li.join
    display: flex
    flex-direction: row
    align-items: center
    background: #f1c40f
    padding: 0.5rem 1rem
    color: black
    font-weight: 700
    cursor: pointer

nav ul li.join mat-icon
    top: 0
    margin: 0


mat-icon
    position: relative
    top: 0.3rem
    margin-right: 4px
    


    
    