<nav>
  <ul>
    <div class="logo">
      <div class="logo-container">
        <div class="workout">Workout</div>
        <div class="optimization">Optimization</div>
      </div>
    </div>
    <li (click)="scrollTo('welcome')">
      <mat-icon
        aria-hidden="false"
        aria-label="Kezdőlap"
        fontIcon="home"
      ></mat-icon
      >KEZDŐLAP
    </li>
    <li (click)="scrollTo('application')">
      <mat-icon
        aria-hidden="false"
        aria-label="Alkalmazás"
        fontIcon="apps"
      ></mat-icon
      >ALKALMAZÁS
    </li>
    <li (click)="scrollTo('working')">
      <mat-icon
        aria-hidden="false"
        aria-label="Működés"
        fontIcon="layers"
      ></mat-icon
      >MŰKÖDÉS
    </li>
    <li (click)="scrollTo('contact')">
      <mat-icon
        aria-hidden="false"
        aria-label="Elérhetőség"
        fontIcon="perm_contact_calendar"
      ></mat-icon
      >ELÉRHETŐSÉG
    </li>
    <li class="join" routerLink="/register" *ngIf="!(this.user$ | async)">
      CSATLAKOZZ
      <mat-icon
        aria-hidden="false"
        aria-label="join"
        fontIcon="arrow_right_alt"
      ></mat-icon>
    </li>
    <li class="join" routerLink="/register" *ngIf="this.user$ | async">
      KILÉPÉS
      <mat-icon
        aria-hidden="false"
        aria-label="logout"
        fontIcon="arrow_right_alt"
      ></mat-icon>
    </li>
  </ul>
</nav>
