h2
  font-family: 'Russo One', sans-serif !important
  text-align: center
  color: #ffffff !important

mat-dialog-content h3
  color: #ffffffb3 !important
  font-weight: 500 !important

button
  color: #ffffff !important