h2
    font-family: 'Russo One', sans-serif !important
    text-align: center
    color: #000000b3 !important

mat-dialog-content h3
  color: #000000b3 !important
  font-weight: 500 !important

button
  color: #000 !important