.home-container
    background: #eef2f3
    width: 100%
    height: 100%
    padding-top: 100px

mat-stepper
    --mat-sys-surface: #fff
    width: 1200px
    margin: 0 auto
    --mat-stepper-header-selected-state-label-text-color: black
    --mat-stepper-header-done-state-label-text-color: black
    --mat-stepper-header-edit-state-label-text-color: black
    --mat-stepper-header-error-state-label-text-color: black
    --mat-stepper-header-selected-icon-foreground-color: black
    --mat-stepper-header-selected-icon-container-color: white
    --mat-stepper-header-icon-foreground-color: black
    --mat-stepper-header-icon-container-color: white


mat-form-field
    
    --mat-sys-primary: #000 
    --mat-sys-on-surface:rgb(0, 0, 0)
    --mat-sys-on-surface-variant:rgb(2, 2, 2)
    --mat-sys-on-error-container: rgba(230, 42, 42, 0.87)
    --mat-sys-error: rgba(230, 42, 42, 0.87)
    margin: 20px auto !important
    display: flex
    max-width: 30%
    justify-content: center
    align-items: center
 
.mat-step-text-label
    color: black !important

button[mat-button]
    background: #000 !important
    color: #fff !important
    border-radius: 5px !important
    padding: 10px 10px !important
    font-size: 16px !important
