<div class="home-container">
  <div class="home-header" *ngIf="!(profileNeedSetup$ | async)">
    <div class="card-1">
      <p>👋Üdvözöllek</p>
      <span>{{ (user$ | async)?.firstName }}</span>
    </div>
    <div class="card-2">
      <p>🕒 Utolsó edzés</p>
      <span>{{ getUserLastTrainingDate$ | async }}</span>
    </div>
    <div class="card-3">
      <p>🏆 Edzések</p>
      <span>
        <app-count-up [end]="currentUserActiveDaysCount$ | async"></app-count-up
      ></span>
    </div>
    <div class="card-4">
      <p>🏋️ Gyakorlatok</p>
      <span>
        <app-count-up
          [end]="(currentUserTrainingCount$ | async) ?? 0"
        ></app-count-up
      ></span>
    </div>
    <div class="card-5">
      <p>❤️ Nyugalmi pulzus</p>
      <span pulse>
        <app-count-up [end]="(user$ | async)?.restPulse ?? 0"></app-count-up
      ></span>
    </div>
    <div class="card-6">
      <span *ngIf="isSettedUpDailyWeight">⚖️ A napi súlyodat rögzítetted</span>
      <span *ngIf="!isSettedUpDailyWeight"
        ><mat-form-field appearance="outline">
          <mat-label>⚖️ Testsúly</mat-label>
          <input
            matInput
            placeholder=" "
            required
            type="number"
            min="30"
            max="200"
            [(ngModel)]="userUpdate.weight"
          /> </mat-form-field
        ><button
          mat-button
          (click)="onSubmitDailyWeight()"
          [disabled]="!userUpdate.weight"
        >
          Mentés
        </button>
      </span>
    </div>

    <div class="card-7" style="position: relative; height: 300px; width: 100%">
      <canvas #weightChart></canvas>
    </div>
  </div>
  <div class="stepper" *ngIf="profileNeedSetup$ | async">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel class="label"
            >Add meg a születési dátumod</ng-template
          >
          <mat-form-field appearance="outline">
            <mat-label>Születési dátum</mat-label>
            <input
              matInput
              placeholder=" "
              formControlName="firstCtrl"
              required
              type="date"
              min="1920-01-01"
              [max]="today"
              [(ngModel)]="userUpdate.dateOfBirth"
            />
            <mat-error
              *ngIf="firstFormGroup.get('firstCtrl')?.errors?.['minDate']"
            >
              A dátum nem lehet korábbi 1920-01-01-nél.
            </mat-error>
            <mat-error
              *ngIf="firstFormGroup.get('firstCtrl')?.errors?.['maxDate']"
            >
              A dátum nem lehet későbbi a mainál.
            </mat-error>
          </mat-form-field>
          <div>
            <button
              mat-button
              matStepperNext
              [disabled]="!firstFormGroup.valid"
            >
              Következő
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel class="label"
            >Add meg a testsúlyod</ng-template
          >
          <mat-form-field appearance="outline">
            <mat-label>Testsúly</mat-label>
            <input
              matInput
              placeholder=" "
              formControlName="secondCtrl"
              required
              type="number"
              min="30"
              max="200"
              [(ngModel)]="userUpdate.weight"
            />
          </mat-form-field>
          <div>
            <button
              mat-button
              matStepperNext
              [disabled]="!secondFormGroup.valid"
            >
              Következő
            </button>
            <button mat-button matStepperPrevious>Vissza</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" label="Add meg a magasságod">
        <form [formGroup]="thirdFormGroup">
          <mat-form-field appearance="outline">
            <mat-label>Magasság</mat-label>
            <input
              matInput
              type="number"
              formControlName="thirdCtrl"
              placeholder="Ex. 1 Main St, New York, NY"
              required
              min="100"
              max="220"
              [(ngModel)]="userUpdate.height"
            />
          </mat-form-field>
          <div>
            <button
              mat-button
              matStepperNext
              [disabled]="!thirdFormGroup.valid"
            >
              Következő
            </button>
            <button mat-button matStepperPrevious>Vissza</button>
          </div>
        </form>
      </mat-step>
      <mat-step
        [stepControl]="fourthFormGroup"
        label="Add meg az edzettségi szinted"
      >
        <form [formGroup]="fourthFormGroup">
          <mat-form-field appearance="outline">
            <mat-label>Edzettségi szint</mat-label>
            <mat-select
              required
              formControlName="fourthCtrl"
              [(ngModel)]="userUpdate.level"
            >
              <mat-option *ngFor="let x of fitnessLevel" [value]="x.value">{{
                x.viewValue
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button
              mat-button
              matStepperNext
              [disabled]="!fourthFormGroup.valid"
            >
              Következő
            </button>
            <button mat-button matStepperPrevious>Vissza</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Nyugalmi pulzus mérése</ng-template>
        <p class="rest-pulse-p">
          Kattints a gombra, és tedd az ujjad a pulzus érzékelőre
        </p>
        <button class="btn-margin" mat-button (click)="startPulseMeasurement()">
          Pulzus mérés indítása
        </button>
        <div *ngIf="showPulse && (pulse$ | async) as pulse">
          <p class="pulse-container">
            <span class="pulse">{{ pulse.pulse }} </span>
            <mat-icon
              class="pulse-icon"
              aria-hidden="false"
              aria-label="Pulse icon"
              fontIcon="favorite"
            ></mat-icon>
          </p>
        </div>
        <div>
          <button mat-button matStepperPrevious>Vissza</button>
          <button mat-button (click)="onSubmit()">Befejezés</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
<div class="cards"></div>
<!-- <app-biceps-curl-animate></app-biceps-curl-animate> -->
