.main-information-container
    padding: 5px 20px
    justify-content: space-between
    display: flex
    flex-direction: row
.id-container, .exercise-container, .successful-container
    display: flex
    flex-direction: column


button[mat-button]
    margin-top: 20px !important
    background: #e0bb15b0 !important
    color: #fff !important
    border-radius: 5px !important
    padding: 10px 10px !important
    font-size: 16px !important
    cursor: pointer !important
    transition: background 0.5s ease !important

table
    width: 100%

.information-first
    color: #949494

.left
    text-align: left
    width: 50%
    color: #949494
    padding: 10px

.right
    text-align: right
  
.divider
    margin: 10px 0
    border-top-color:#706f6fce !important


.spinner
    max-width: 50px
    max-height: 50px
    margin: 10px

.result-container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column