<header>
  <h2>Működés</h2>
</header>
<div class="working-container">
  <div class="working-content">
    <h3>Hogyan is működik az alkalmazás?</h3>
    <div class="cards">
      <div class="card"><p>Alkalmazás megnyitása</p></div>
      <div class="card">
        <p><mat-icon fontIcon="arrow_downward"></mat-icon></p>
      </div>
      <div class="card"><p>Gyakorlat elkezdése</p></div>
      <div class="card">
        <p><mat-icon fontIcon="arrow_forward"></mat-icon></p>
      </div>
      <div class="card">
        <p>
          Gyakorlatok helyességének visszajelzése, pulzusmérése valós időben
        </p>
      </div>
      <div class="card">
        <p><mat-icon fontIcon="arrow_forward"></mat-icon></p>
      </div>
      <div class="card"><p>Gyakorlat befejezése</p></div>
      <div class="card">
        <p><mat-icon fontIcon="arrow_upward"></mat-icon></p>
      </div>
      <div class="card">
        <p><mat-icon fontIcon="arrow_downward"></mat-icon></p>
      </div>
      <div class="card"><p>Pihenőidő</p></div>
      <div class="card">
        <p><mat-icon fontIcon="arrow_back"></mat-icon></p>
      </div>
      <div class="card"><p>Statisztika létrehozása</p></div>
      <div class="card">
        <p><mat-icon fontIcon="arrow_back"></mat-icon></p>
      </div>
      <div class="card">
        <p>Edzésterv személyre szabása pulzus, visszajelzés alapján</p>
      </div>
      <div class="card">
        <p><mat-icon fontIcon="arrow_downward"></mat-icon></p>
      </div>
      <div class="card"><p>Edzés befejezése</p></div>
      <div class="card">
        <p><mat-icon fontIcon="arrow_forward"></mat-icon></p>
      </div>
      <div class="card"><p>Fejlődés nyomonkövetése</p></div>
    </div>
  </div>
</div>
